<!DOCTYPE html>
<html lang="kor">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="소프트웨어공학 관점에서 프로젝트 개발단계">
  <meta name="author" content="김혜린">

  <title>소프트웨어 개발 프로젝트</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">소프트웨어 개발자 역량 강화 향상 과정(2021.2.22~2021.2.26)</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h5 class="masthead-heading mb-0">프로젝트 개발 단계</h5>
        <h1>(강사:장성균, 제작:김혜린)</h1>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  
  <section>
    <div class="container">
      <div class="row align-items-top">
        <div class="col-lg-6">
          <div class="p-6">
            <img class="img-fluid rounded-circle" src="img/요구분석.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-6"><요구분석단계></h2>
            <p> <h5>1. 제목과 목차 (Title page and table of contents)</h5>
				<h5>2. 서론 (Introduction)</h5>
				/*기술적인 목표와 사업 목표를 포함한 시스템의 목표를 기술한다.*/<br>
				<h6>2.1 독자 (Audience)</h6>
				/*이 문서를 읽을 독자들을 기술하고 독자의 유형을 분류하여 문서 전체를 읽어야 하는 경우와 문서의 일부를 생략하고 읽어도 되는 경우를 기술한다. */
				<h6>2.2 전체 기술 (Overall Description)</h6>
				<h6>2.3 프로젝트 제약조건 (Project Constraints)</h6>
				<h5>3. 기능 기술 (Functional Description)</h5>
				/*정보 흐름이 어디로 어떻게 이루어지는지 체계적이며 구체적으로 기술한다. 독자들이 이해하기 쉽도록 정보의 흐름과 내용, 구조 등이 쉽게 기술되어야 한다.*/<br>
				<h6>3.1 자료 흐름도 (Data Flow Diagram)</h6>
				<h6>3.2 프로세스 명세서 (Process Specification)</h6>
				/*DFD 의 최하위 프로세스(원시 프로세스)에 대한 기본 기능이 기술된다.가능하면 한 장에 한 프로세스만을 기술하는 것이 좋다.*/<br>
				<h6>3.3 자료 사전 (Data Dictionary)</h6>
				/*4.2의 자료사전과 합쳐질 수 있다*/<br>
				<h5>4. 정보 기술 (Information Description)</h5>
				/*시스템의 객체, 객체의 속성, 객체 사이의 연관성을 규명한다*/<br>
				<h6>4.1 ERD (Entity-Relationship Diagram)</h6>
				<h6>4.2자료 사전 (Data Dictionary)</h6>
				/*3.3의 자료사전과 합쳐질 수 있다*/<br>
				<h5>5. 초보 사용자 매뉴얼 (Preliminary User Manual)</h5>
				/*매뉴얼의 사용자가 누구인가 규명하고 사람과 시스템 사이의 인터페 이스에 대한 정보를 기술한다. 입출력 데이터를 중심으로 예상되는 메뉴 구조, 스크린, 보고서 형식 등이 포함될 수 있다.*/<br>
				<h5>6. 검증 기준 (Validation Criteria)</h5>
				/*최종 결과물이 실제로 요구사항 명세서에 기술되어 있는지 사용자와 평가자가 검증할 수 있도록 검증 기준을 기술한다. 약속한대로 시스템이 만들어졌는지 결정할 수 있도록 점검 리스트(check list)를 포함 한다.*/<br>
				<h5>7. 무기능 요구사항(Nonfunctional Requirements)</h5>
				/*규제 조항과 제약 조건을 기술한다. 예를 들어 외부 규제, 법률 (예: 사생활 침해), 안전도 규제 사항, 표준과 관계되는 사항을 기술 한다. '모든 정보는 ASCII 문자집합으로 기술되어야 한다' 또는 '시스템은 명령이 떨어진 후 2초 내에 반응해 야한다' 등은 그 예이다.*/<br>
				<h5>8. 요약 (Summary)</h5>
				<h5>9. 부록 (Appendices)</h5>
				/*이 프로젝트와 관련하여 앞으로 향상될 수 있는 부분에 대하여 기록한다*/<br>
			</p>
          </div>
        </div>
      </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6  order-lg-2">
          <div class="p-6">
            <img class="img-fluid rounded-circle" src="img/페이퍼설계.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6  order-lg-1">
          <div class="p-5">
            <h2 class="display-6"><소프트웨어설계기법></h2>
			                      <h4>페이퍼프로토타입</h4>
            <p>제품 UI 및 사용자 경험 개선을 위해 쉽게 적용할 수 있는 프로토타이핑의 개념<br>
			   종이를 이용해서 간단하게 게임을 구현해 보는 것을 말한다.<br>
			   시스템을 해석하는데 유용하고, 가시적으로 매커니즘을 살펴 볼 수 있다는 장점이 있다.<br>
            </p>
          </div>
        </div>
      </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-6">
            <img class="img-fluid rounded-circle" src="img/개발.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-6"><프로그램 개발(구현)></h2>
			 <p>BACK-END개발자와 FRONT-END개발자의 언어와 개발방식다르다.<br>
			    FRONT-END개발자는 UI/UX측면에서 디스플레이되는 웹페이지개발자의 역할이 주가 된다.<br>
				FRONT-END개발자는 html, css, javascript는 기본적으로 사용가능해야 한다.<br>
			    BACK-END개발자는 화면에 보여지지 않는 데이터의 처리라든지 서버프로그래밍의 역할이 주가 된다.<br>
				BACK-END개발자는 db라든가 서버프로그래밍 언어를 사용하여 코딩하게 된다.<br>
			 </p>
		</div>
      </div>
	 </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-top">
        <div class="col-lg-6  order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/html.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6  order-lg-1">
          <div class="p-5">
            <h2 class="display-6"><webpage 만들기></h2>
			 <p><br>
			    우리가 개발하여 접속하는 웹사이트들은 다음과 같이 3가지 요소로 구성된다. <br>
			     HTML(Hyper Text Markup Language)<br>
				 CSS(Cascading Style Sheets)<br>
			     자바스크립트(Javascript)
			    <h5>HTML</h5>
				별도의 개발툴이 없다면 메모장을 열어서 디스플레이를 하기위한 텍스트를 입력하고 확장자를 .html로 저장한다.<br>
			    조금더 고급기능을 원한다면 html태그들을 이용하여 다양하게 디자인 할 수 있다.<br>
				<자주사용하는 태그의 종류><br>
				<img src="img/태그1.jpg" width = "3000"><br>	
				<img src="img/태그2.jpg" width = "3000"><br>	
				<h5>CSS</h5>
				html을 조금더 다양한 스타일로 구현하고 일관성 있는 웹페이지를 만들기위해 스타일시트를 만들고 그 스타일시트의 표준을 css라고 한다.<br>
				<img src="img/css.jpg" width = "3000"><br>	
				<h5>JAVASCRIPT</h5>
				웹페이지가 다양하게 동작할수 있도록 프로그래밍 할 수 있는 객체지향 스크립트 언어이다.<br>
	            <img src="img/javascript1.jpg" width = "3000"><br>	
				<img src="img/javascript2.jpg" width = "3000"><br>					
			 </p>
		</div>
      </div>
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Hyerini Website 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
